.navBar
{
    padding-top: 2rem ;
    margin: 0;
    background-color: rgb(6, 158, 158);
    width: 100%;
    height: 4rem;
    padding-left: 2rem;
    color: #fff;
}

.navBar h2
{
    margin: 0;
}

.btn
{
    background-color: transparent;
    border: rgb(27, 25, 25) solid 3px;
    color: rgb(31, 26, 26);
    padding: 1rem 1.5rem;
    margin-top : 2rem;
    margin-left: 2rem;
    cursor: pointer;

}